html, body {
  background-color: #F2F5F7 !important;
}

body::-webkit-scrollbar-track
{
  background: #F5F5F5;
   font-family: Arial, Helvetica, sans-serif;
  color: #333333;
  overflow-x: hidden;
  font-size: 12px !important;
}


body::-webkit-scrollbar
{
  width: 7px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
  background:linear-gradient(to bottom, #eefcff, #bdf5ff, #d2e9ff, #eba9ff, #d1d1d1);
}

.bg-white{
    background-color: #fff !important;
}

a.noline{
text-decoration: none!important;
}

.txt-right{
    text-align: right !important;
}

.tebal {
    font-weight: bold !important;
}

.tebal-med {
    font-weight: 600 !important;
}

a.spasi-kiri{
    margin-left: 0.5em !important;
}
a.spasi-kanan{
    margin-right: 0.5em !important;
}

.spasi-kanan{
    margin-right: 0.5em !important;
}


.ditengah {
  transform: translate(0%, 25%);
}

.mgb-1{
    margin-bottom: 1em !important;
}

.mgt-1{
    margin-top: 1em !important;
}

.mgt-2{
    margin-top: 2em !important;
}
 .judulcenter{
     margin-left: auto;
     margin-right: auto;
 }


.clight{
    color: #E5E5E5 !important;
}

.fs12px{
font-size: 12px !important;
}

.modclose-center{
    position: absolute;
    right: 5%;
}

.pad-0{
    padding: 0px !important;
}

.padding-mod2{
    padding-bottom: 0px;
}

small.setpad{
    padding-bottom: 10px;
}

.padb-1em{
    padding-bottom: 1em;
}

.txt-abs-x{
    position: absolute;
    left: 45%;
    top: 4em;
}

.cgrey{
    color: #6F7287 !important;
}

a{
    color: #57596b !important;
}

.main-header-second{
    background: #fcfdff;
    width: 100%;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

.logo-header2{
    width: auto;
    display: block;
    height: 110px;
    max-height: 148px;
    padding-left: 10px;
}


.center-updown{
    margin-top: auto !important;
    margin-bottom: auto !important;
}



/* ------------ */
